<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8"/>
    {% include '../../matrix_header_page_table.html' %}
    {% include '../../common_header_datatable.html' %}
    {% include '../../common_header_validate.html' %}
<script>
    function initTable() {
        initDataTable($('#table'), "user_list", [
            { "mDataProp": "ID", "bSortable": false, "bSearchable": false, "sClass": "edit",
                "mRender": function (data, type, full) {
                    return '<input id="' + data + '" class="table_checkbox" type="checkbox" />';
                }},
            { "mDataProp": "CODE"},
            { "mDataProp": "NAME" },
            { "mDataProp": "STATUS",
                "mRender": function (data, type, full) {
                    if (data == '1') {
                        return '正常';
                    }
                    else if (data == '3') {
                        return '已删除';
                    }
                    return '已禁用';
                }},
            { "mDataProp": "C_USER"  },
            { "mDataProp": "C_DATE" },
            { "mDataProp": "ID", "bSortable": false, "bSearchable": false, "sClass": "edit",
                "mRender": function (data, type, full) {
                    return  '<button class="btn btn-info  btn-mini"  onclick="doEdit(\'' + data + '\',\'' + full.CODE + '\',\'' + full.NAME + '\',\'' + full.STATUS + '\');">编辑</button>' +
                            '<button class="btn btn-danger  btn-mini"  onclick="doDelete(\'' + data + '\');">删除</button>';
                }}
        ], true, [
            [ 4, "desc" ]
        ]);
    }
    function doRefresh() {
        window.location.reload();
    }

    $(document).ready(function () {
        initTable();
    });

</script>
</head>
<body class="container-fluid">
    <div id = "div_list">
        <br/>
        <h4>用户管理</h4>
        <hr/>
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>用户管理</h5>
              <div class="button-label">
                <button class="btn btn-primary btn-title" onclick="doAdd();">新建</button>
                <button class="btn btn-danger btn-title" onclick="doBatchDelete();">批量删除</button>
                <button class="btn btn-success btn-title" onclick="doRefresh();">刷新</button>
              </div>
          </div>

          <div class="widget-content nopadding">
            <table id="table" class="table table-bordered data-table with-check">
              <thead>
                <tr>
                  <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                  <th>用户名</th>
                  <th>昵称</th>
                  <th>状态</th>
                  <th>创建人</th>
                  <th>创建时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
    </div>

    {% include 'user_add.html' %}
    {% include 'user_edit.html' %}
    {% include 'user_delete.html' %}

</body>
</html>
