<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% include '../matrix_header_page_table.html' %}
    {% include '../common_header_datatable.html' %}
<script>
var datatable;
function initTable(){
        datatable = initDataTable($('#table'),"user_list",[
            { "mDataProp": "ID","sWidth" : "2%","bSortable": false,"bSearchable": false,
					  "mRender": function (data, type, full) {
							 return '<input id="'+data+'" type="checkbox" />'
					  }},
            { "mDataProp": "CODE","sWidth" : "20%" },
            { "mDataProp": "NAME","sWidth" : "20%" },
            { "mDataProp": "STATUS" ,
					  "mRender": function (data, type, full) {
						  if(data=='1'){ return '正常';}
                          else if(data=='2'){ return '已删除';}
                          return '已禁用';
					  }},
            { "mDataProp": "C_USER" },
            { "mDataProp": "C_DATE" }
    ],true,[[ 4, "desc" ]]);
}
$(document).ready(function(){
    initTable();
});
</script>
</head>
<body>
        <br/>
        <h4>用户管理</h4>
        <hr/>
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>用户管理</h5>
              <div class="button-label">
                <button class="btn btn-primary btn-title" onclick="ajaxCommitWithGritter( 'user_add',null,initTable);">新建</button>
                <button class="btn btn-info btn-title" onclick="datatable.fnReloadAjax();">编辑</button>
                <button class="btn btn-danger btn-title" onclick="datatable.fnReloadAjax();">删除</button>
                <button class="btn btn-success btn-title" onclick="datatable.fnReloadAjax();">刷新</button>
              </div>
          </div>

          <div class="widget-content nopadding">
            <table id="table" class="table table-bordered data-table with-check">
              <thead>
                <tr>
                  <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                  <th>用户名</th>
                  <th>昵称</th>
                  <th>状态</th>
                  <th>创建人</th>
                  <th>创建时间</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
</body>
</html>
