<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8"/>
    {% include '../matrix_header_page_table.html' %}
    {% include '../common_header_datatable.html' %}
    {% include '../common_header_validate.html' %}
<script>
var datatable;
function initTable(){
        datatable = initDataTable($('#table'),"user_list",[
            { "mDataProp": "ID","bSortable": false,"bSearchable": false, "sClass":"edit",
					  "mRender": function (data, type, full) {
							 return '<input id="'+data+'" class="table_checkbox" type="checkbox" />';
					  }},
            { "mDataProp": "CODE"},
            { "mDataProp": "NAME" },
            { "mDataProp": "STATUS" ,
					  "mRender": function (data, type, full) {
						  if(data=='1'){ return '正常';}
                          else if(data=='3'){ return '已删除';}
                          return '已禁用';
					  }},
            { "mDataProp": "C_USER"  },
            { "mDataProp": "C_DATE" },
            { "mDataProp": "ID","bSortable": false,"bSearchable": false, "sClass":"edit",
					  "mRender": function (data, type, full) {
							 return  '<button class="btn btn-info  btn-mini"  onclick="doEdit(\''+data+'\',\''+full.CODE+'\',\''+full.NAME+'\',\''+full.STATUS+'\');">编辑</button>'+
                                      '<button class="btn btn-danger  btn-mini"  onclick="doDelete(\''+data+'\');">删除</button>';
					  }}
    ],true,[[ 4, "desc" ]]);
}
function doRefresh(){
    window.location.reload();
}

function getAddStatusValue(){
    var status = 1;
    if( $("#a_status_group button:eq(1)").hasClass("active")){
       status = 2;
    }
    return status;
}
function doAdd() {
    $("#user_list").slideUp();
    $("#user_add").fadeIn();
}
function doAddCancel(){
    $("#user_add").hide();
	$("#user_list").fadeIn();
}
function doAddOk(){
    if (validate($("#useradd_form")))//主动校验
          ajaxCommitFormWithGritter($("#useradd_form"), function () {
              doAddCancel();
              doRefresh();
          },[{name:"user_status",value:getAddStatusValue()}]);
}

function getEditStatusValue(){
    var status = 1;
    if( $("#e_status_group button:eq(1)").hasClass("active")){
       status = 2;
    }
    return status;
}
function setEditStatus(status){
    if(status == 1){
        $("#e_status_group button:eq(0)").addClass("active");
    }else{
        $("#e_status_group button:eq(1)").addClass("active");
    }
}
function doEdit(id,code,name,status) {
    $("#e_uid").attr("value",id);
    $("#e_code").attr("value",code);
    $("#e_name").attr("value",name);
    $("#e_status").attr("value",status);
    setEditStatus(status);
    $("#user_list").slideUp();
    $("#user_edit").fadeIn();
}
function doEditCancel(){
    $("#user_edit").hide();
	$("#user_list").fadeIn();
}
function doEditOk(){
    ajaxCommitFormWithGritter($("#useredit_form"), function () {
        doEditCancel();
        doRefresh();
    },[{name:"user_status",value:getEditStatusValue()}]);
}
var deleteId;
function doDelete(id){
    deleteId = id;
    $('#delete_alert').modal('show');
}
function doDeleteOk(){
    ajaxCommitWithGritter( 'user_delete',[{name:'uid',value:deleteId}],doRefresh);
}
function doBatchDelete(){
    var ids = getTableCheckBoxChecked()
    if(ids.length<1){
        showGritter("error","未勾选内容","请至少勾选一项");
        return;
    }
    deleteId = ids;
    $('#delete_alert').modal('show');
}
$(document).ready(function(){
    initTable();
//    $('#delete_alert').on('hide.bs.modal', function () {
//        doRefresh(deletePage);
//    });
});
</script>
</head>
<body class="container-fluid">
    <div id = "user_list">
        <br/>
        <h4>用户管理</h4>
        <hr/>
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>用户管理</h5>
              <div class="button-label">
                <button class="btn btn-primary btn-title" onclick="doAdd();">新建</button>
                <button class="btn btn-danger btn-title" onclick="doBatchDelete();">批量删除</button>
                <button class="btn btn-success btn-title" onclick="doRefresh();">刷新</button>
              </div>
          </div>

          <div class="widget-content nopadding">
            <table id="table" class="table table-bordered data-table with-check">
              <thead>
                <tr>
                  <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                  <th>用户名</th>
                  <th>昵称</th>
                  <th>状态</th>
                  <th>创建人</th>
                  <th>创建时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>

        <div id="delete_alert" class="modal hide">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>删除</h3>
            </div>
            <div class="modal-body">
                <p>是否要删除选中项？</p>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" class="btn btn-primary" onclick="doDeleteOk();" >确认</a>
                <a data-dismiss="modal" class="btn">取消</a>
            </div>
        </div>

    </div>

    <div id="user_add" style ="display:none;">
        <br/>
        <h4>新建用户</h4>
        <hr/>
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-pencil"></i> </span>
            <h5>新建用户</h5>
          </div>
          <div class="widget-content nopadding">
            <form id="useradd_form" action="user_add" method="post" class="form-horizontal">
                {% raw xsrf_form_html() %}
                <div class="control-group">
                  <label class="control-label">用户名</label>
                  <div class="controls">
                    <input type="text" name="user_code"  validate="{required:true,messages:{required:'请输入用户名'}}" placeholder="请输入用户名"/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">昵称</label>
                  <div class="controls">
                    <input type="text" name="user_name"  placeholder="请输入昵称" />
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">状态</label>
                  <div class="controls">
                    <div  id = "a_status_group"  data-toggle="buttons-radio" class="btn-group">
                      <button class="btn btn-primary" type="button">启用</button>
                      <button class="btn btn-primary" type="button">禁用</button>
                    </div>
                  </div>
                </div>
              <div class="form-actions">
                <a class="btn btn-info" onclick="doAddCancel();" >取消</a>
                <a class="btn btn-primary" onclick="doAddOk();"  >保存</a>
              </div>
            </form>
          </div>
        </div>
    </div>

    <div id="user_edit" style ="display:none;">
        <br/>
        <h4>编辑用户</h4>
        <hr/>
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-pencil"></i> </span>
            <h5>编辑用户</h5>
          </div>
          <div class="widget-content nopadding">
            <form id="useredit_form" action="user_edit" method="post" class="form-horizontal">
                {% raw xsrf_form_html() %}
                <input type="hidden" id="e_uid" name="uid" value=""/>
                <div class="control-group">
                  <label class="control-label">用户名</label>
                  <div class="controls">
                    <input type="text" id="e_code"  disabled="" />
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">昵称</label>
                  <div class="controls">
                    <input type="text" id="e_name"  name="user_name"  placeholder="请输入昵称" />
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">状态</label>
                  <div class="controls">
                    <div id = "e_status_group" data-toggle="buttons-radio" class="btn-group">
                      <button class="btn btn-primary" type="button">启用</button>
                      <button class="btn btn-primary" type="button">禁用</button>
                    </div>
                  </div>
                </div>
              <div class="form-actions">
                <a class="btn btn-info" onclick="doEditCancel();" >取消</a>
                <a class="btn btn-primary" onclick="doEditOk();"  >保存</a>
              </div>
            </form>
          </div>
        </div>
    </div>
</body>
</html>
