<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% include '../matrix_header_page_table.html' %}
    {% include '../common_header_datatable.html' %}
<script>
$(document).ready(function(){
    initDataTable($('#table'),"user_list",[
			{ "mDataProp": "CODE" },
            { "mDataProp": "NAME" },
            { "mDataProp": "STATUS" },
            { "mDataProp": "C_USER" },
            { "mDataProp": "C_DATE" }
    ]);
    initTableCheckBox();
});
</script>
</head>
<body>
        <br/>
        <h4>用户管理</h4>
        <hr/>
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>用户管理</h5>
          </div>
          <div class="widget-content nopadding">
            <table id="table" class="table table-bordered data-table with-check">
              <thead>
                <tr>
                  <!--<th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>-->
                  <th>用户名</th>
                  <th>昵称</th>
                  <th>状态</th>
                  <th>创建人</th>
                  <th>创建时间</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
<!--<button onclick="parent.iFrameHeight()">11</button>-->
</body>
</html>
