{% for menu in main_menu %}
    {% if menu %}
        {% if menu['icon'] %}
            {% if '1' == menu['icon_type'] %}
                {% set icon = menu['icon'] %}
            {% elif '2' == menu['icon_type'] %}

            {% end %}
        {% else %}
            {% set icon = 'icon-folder-close' %}
        {% end %}
        {% set onclick = "setContentByMenu('menu_"+menu['v_id']+"','menu_"+menu['url']+"');" %}
        {% if len(menu['children']) >0 %}
        <li  class='submenu' >
            <a id="menu_{{menu['v_id']}}" href="#" onclick="{{onclick}}"><i class='icon {{icon}}'></i> <span>{{menu['name']}}</span><span class='label label-important'>{{len(menu['children'])}}</span></a>
            <ul>
                {% module MainMenu(menu['children']) %}
            </ul>
        </li>
        {% else %}
        <li>
            <a id="menu_{{menu['v_id']}}" href="#" onclick="{{onclick}}" ><i class='icon {{icon}}'></i> <span>{{menu['name']}}</span></a>
        </li>
        {% end %}
    {% end %}
{% end %}