<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% include '../../matrix_header_page_table.html' %}
    {% include '../../common_header_datatable.html' %}
<script>
var datatable;
function initTable(){
        datatable = initDataTable($('#table'),"group_list",[
            { "mDataProp": "NAME","sWidth" : "25%" },
            { "mDataProp": "DES","sWidth" : "25%" },
            { "mDataProp": "C_USER" },
            { "mDataProp": "C_DATE" }
    ],false);
}
$(document).ready(function(){
    initTable();
    initTableCheckBox();
});
</script>
</head>
<body  class="container-fluid">
        <br/>
        <h4>用户组管理</h4>
        <hr/>
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>用户组管理</h5>
          </div>
          <div class="widget-content nopadding">
            <table id="table" class="table table-bordered data-table with-check">
              <thead>
                <tr>
                  <!--<th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>-->
                  <th>群组名</th>
                  <th>描述</th>
                  <th>创建人</th>
                  <th>创建时间</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
</body>
</html>
