    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ static_url('matrix_admin/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('matrix_admin/css/bootstrap-responsive.min.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('matrix_admin/font-awesome/css/font-awesome.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('matrix_admin/css/matrix-login.css') }}" />
    <script src="{{ static_url('jquery/js/jquery.min.js') }}"></script>
    <script src="{{ static_url('matrix_admin/js/matrix.login.js') }}"></script>
    <script src="{{ static_url('jquery/js/jquery.placeholder.js') }}"></script><!--IE浏览器清除placeholder避免影响验证-->