{% include 'matrix_header_base.html' %}
<link rel="stylesheet" href="{{ static_url('css/common_style.css') }}"/>
<link rel="stylesheet" href="{{ static_url('css/datatable_style.css') }}"/>
<link rel="stylesheet" href="{{ static_url('matrix_admin/css/uniform.css') }}"/>
<link rel="stylesheet" href="{{ static_url('matrix_admin/css/select2.css') }}"/>
<link rel="stylesheet" href="{{ static_url('matrix_admin/css/matrix-media.css') }}"/>
<script src="{{ static_url('jquery/js/jquery.uniform.js') }}"></script>
<script src="{{ static_url('matrix_admin/js/select2.min.js') }}"></script>
<script src="{{ static_url('jquery/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ static_url('matrix_admin/js/matrix.js') }}"></script>
<script src="{{ static_url('jquery/js/TableTools.js') }}"></script>
